.root {
  -fx-background-color: #1899CD;
  -fx-background-radius: 20 20 20 20;
}

.button {
  -fx-background-color: #1899CD;
  -fx-background-radius: 20 20 20 20;
  -fx-text-fill:white;
  -fx-font-size: 15px;

}

.button:hover {
  -fx-background-color: white;
  -fx-text-fill: #1899CD;
}


.dialog-pane{
  -fx-background-color: #1899CD;
  -fx-border-radius: 20 20 20 20;
  -fx-text-fill: #ffff;
}

.dialog-pane > .content.label {
  -fx-padding: 0.5em 0.5em 0.5em 0.5em;
  -fx-text-fill:white;
  -fx-font-size: 20px;
}

.dialog-pane .button {
  -fx-background-color: #0d7ba7;
}

